<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>examen final programacion web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="button-container">
        <a href="{{ url_for('ejercicio1') }}" class="button ejercicio1">ejercicio 1</a>
        <a href="{{ url_for('ejercicio2') }}" class="button ejercicio2">ejercicio 2</a>
    </div>
</body>
</html>